config.php
dynamic-web-application/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/db99b42d-0e09-4637-a8bb-55e25210277e.xml
/.idea/dataSources/db99b42d-0e09-4637-a8bb-55e25210277e/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/laravel-idea.xml
/.idea/modules.xml
/.idea/dataSources/db99b42d-0e09-4637-a8bb-55e25210277e/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/db99b42d-0e09-4637-a8bb-55e25210277e/storage_v2/_src_/schema/notes_app.o683aw.meta
/.idea/dataSources/db99b42d-0e09-4637-a8bb-55e25210277e/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/php.xml
/.idea/php_stuff.iml
/.idea/dataSources/db99b42d-0e09-4637-a8bb-55e25210277e/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/vcs.xml
/.idea/workspace.xml

notes-app/vendor/
